html {
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

/* .ggg {
    position: absolute;
    animation: bg-animation 25s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.725) ), url(../image/bg_image.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

@keyframes bg-animation {
    0% {
        background-size: 120%;
        background-position: 50% 50%
    }
    20% {
        background-size: 150%;
        background-position: 0 50%;
    }    
    40% {
        background-size: 110%;
        background-position: 20% 80%;
    }
    60% {
        background-size: 160%;
        background-position: 60% 10%;
    }
    80% {
        background-size: 120%;
        background-position: 40% 70%;
    }    
    100% {
        background-size: 120%;
        background-position: 50% 50%
    }
} */

.conteiner {
    z-index: 2;
    /* margin: 0 auto; */
    /* width: 1300px; */
    width: 100%;
    height: 100%;
    position: fixed;
}

.svg_logo {
    /* width: 70px; */
    width: 4.5%;
    position: absolute;
    padding-top: 0.4%;
    padding-left: 1.4%;
    /* margin-left: 10px;
    margin-top: 5px; */
    cursor: pointer;
}

.box_construct {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 100%;
    /* padding-top: 69px; */
    /* padding-top: 3%; */
    height: 90%;
}

.dialogue_list {
    /* width: 350px; */
    width: 27%;
    /* height: 750px; */
    height: 100%;
    background-color: #2B2B2B;
}

.dialogue_massage {
    /* width: 950px; */
    width: 73%;
    /* height: 750px; */
    height: 100%;
    background-color: #393939;
    display: flex;
    flex-direction: column;
}

.header {
    z-index: 300;
    position: absolute;
    /* width: 1300px; */
    width: 100%;
}


.chatix {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.profile {
    /* width: 350px; */
    width: 27%;
    /* height: 100px; */
    height: 10%;
    background-color: #202020;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 0.3%;
    padding-right: 0.3%;
}

.text_massage {
    /* width: 950px; */
    width: 73%;
    /* height: 100px; */
    height: 10%;
    background-color: #393939;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

textarea, .svg_go {
    display: none;
}

.avatar {
    /* width: 17%;
    height: 90%; */
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 0.8%;
    background-color: #C4C4C4;
}

.nickname {
    color: white;
    font-family: "Montserrat";
    font-size: 1.9vw;
    /* font-size: 200%; */
}

textarea {
    width: 90%;
    height: 70%;
    /* width: 57.0vw;
    height: 1.5vw; */
    resize: none;
    background-color: #5A5A5A;
    border-radius: 10%;
    outline: none;
    font-family: "Montserrat";
    /* font-size: 160%; */
    font-size: 1.3vw;;
}

.svg_settings {
    height: 40%;
    cursor: pointer;
}

.nav_ponel {
    position: absolute;
    z-index: 500;
    display: flex;
    right: 0;
    padding-top: 1.6%;
    padding-right: 1.6%;
}

.nav_ponel a {
    text-decoration: none;
    font-size: 1.6vw;
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
}

.search_box {
    position: absolute;
    z-index: 501;
    width: 20%;
    height: 9%;
    padding-left: 10%;
    padding-top: 0.4%;
    left: 0;
}

.search_box input[type = "text"] {
    border: 0;
    background: none;
    display: block;
    /* margin: 10px auto; */
    text-align: center;
    border: 0.15vw solid #707070;
    /* padding: 14px 10px; */
    /* width: 280px; */
    /* width: 100%; */
    width: 16.6vw;
    /* height: 40px; */
    /* height: 80%; */
    height: 3.8vw;
    outline: none;
    color: white;
    /* border-radius: 24px; */
    border-radius: 16%;
    /* transition: 0.25s; */
    font-family: "Montserrat";
    /* font-size: 30px; */
    font-size: 1.8vw;
}


.list_user {
    padding: 0;
    list-style: none;
    background-color: rgb(187, 187, 187);
    width: 16.6vw;
    border: 0.15vw solid #707070;
    border-radius: 1vw;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1.3vw;
}

.list_user li{
    padding: 5%;
    cursor: pointer;
}

.list_user li:before {
    padding-right: 5%;
    font-weight: bold;
    color: #6f6c6c;
    content: "\2714";
    transition-duration: 0.4s;
}

.list_user li:hover:before {
    color: #2369a5;
    content: "\2714";
}
 
@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    20% {
        transform: scale3d(1.3, 1.3, 1.3);
    }
    40% {
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(.97, .97, .97);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.svg_go {
    cursor: pointer;
}

.name_profile_to_user {
    /* display: none; */
    width: 24%;
    /* margin-left: 1.3;
    margin-right: 1.3vw; */
    /* padding-left: 1.3 vw; */
    height: 6%;
    /* background-color: #1986e67e; */
    position: absolute;
    z-index: 600;
    left: 50%;
    /* //top: 10%; */
    display: none;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 1.7vw;
    color: white;
    border: 0.2vw solid rgba(124, 124, 124, 0.521);
    border-radius: 0.8vw;
    background-color: rgba(155, 155, 155, 0.521);
    margin-top: 5%;
}

.chat_user_to_user {
    /* display: none; */
    width: 100%;
    height: 90%;
    /* background-color: #caec3267; */
    margin-top: 10%;
    display: none;
    overflow-y: scroll;
}

.dialogue_list_box {
    width: 100%;
    height: 93%;
    /* background-color: rgba(165, 89, 89, 0.418); */
    margin-top: 19%;
    overflow-y: scroll;
}

.chat_to_user {
    width: 90%;
    height: 10%;
    text-align: center;
    background-color: rgb(139, 139, 139);
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1.7vw;
    border-radius: 3vw;
    border: 0.1vw solid black;
    margin: 4%;
    cursor: pointer;
}

.messages {
    width: 90%;
    margin: 2%;
    background-color: rgb(221, 221, 221);
    color: rgb(27, 27, 27);
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1.2vw;
    border-radius: 1.2vw;
    border: 0.1vw solid black;
    margin-left: 1vw;
}

.message_info {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 0.7vw;
    margin-top: 1.1vw;
    margin-bottom: 0.5vw;
    margin-left: 1vw;
}

.message_text {
    margin-left: 1vw;
}

.change_name_chat {
    position: absolute;
    z-index: 900;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 0.9vw;
    margin-top: 6.9%;
    margin-left: 57.3%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: none;
}


.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 600px;
    height: 300px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: rgb(70, 70, 70);
    text-align: center;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.registr_form input[type = "text"]{
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #3b3b3b;
    padding: 14px 10px;
    width: 280px;
    height: 40px;
    outline: none;
    color: rgb(24, 24, 24);
    border-radius: 24px;
    transition: 0.25s;
    font-family: "Montserrat";
    font-size: 30px;
}

.registr_form input[type = "text"]:focus{
    width: 360px;
    border-color: #ffffff;
    background-color: #1D1D1D;
    color: white;
}

.registr_form input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #1D1D1D;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 400;
}

.construct_rename_room {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
}